@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap');

* {
    font-family: 'Roboto', sans-serif;
}

.main-section {
    background-color: #212126;

    display: flex;
    align-items: center;
    padding: 30px 350px;
    gap: 50px;
}

.welcome {
    margin: 0;
    color: #e4ecf0;
}

.main-name {
    margin: 0;
    font-size: 45px;
    color: #5988a0;
}

.function-names {
    display: flex;
    gap: 20px;
    list-style: none;
    font-size: 18px;
    padding-left: 0;
}

.function-names > li > a {
    text-decoration: none;
    color: #e4ecf0;
}

.function-names > li:before {
    content: "\2022";
    color: #e4ecf0;
    margin-right: 10px;
}

.short-description {
    font-size: 18px;
    line-height: 1.25;
    color: #e4ecf0;
}

.about-me-btn {
    display: inline-block;
    text-decoration: none;
    border-radius: 5px;
    padding: 15px;
    color: #e4ecf0;
    background-color: #5988a0;
}

.about-me-btn:hover {
    color: #bdc4c7;
    background-color: #325769;
}

.main-info-right {
    border-radius: 50%;
    border: 5px solid #696969;
    padding-bottom: 0px;
    height: 300px;
}

.profile-img {
    width: 300px;
    height: 265px;
}

.about-container {
    display: flex;
    align-items: center;
    padding: 0px 170px;
    justify-content: space-between;
    height: 512px;

    background: rgb(112,113,124);
    background: linear-gradient(0deg, rgba(112,113,124,1) 0%, rgba(33,33,38,1) 100%);
}

.about-image {
    height: 100%;
}

.about-image > img {
    height: 100%;
}

.about-me-section {
    width: 800px;
}

.about-me-section > h1 {
    color: #e4ecf0;
}

.about-me-section > h2 {
    color: #5988a0;
}

.about-me-section > article {
    color: #e4ecf0;
    line-height: 2;
}

.about-me-section > a {
    color: #8b0000;
}

.experience-container {
    border-top: 1px solid gray;
    height: 100%;

    display: flex;
    justify-content: space-evenly;
    align-items: center;
}