@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap');

* {
    font-family: 'Roboto', sans-serif;
    color: #e4ecf0;
}

body {
    background-color: #212126;
}

.main-section {
    display: flex;
    align-items: center;
    padding: 30px 350px;
    gap: 50px;
}

.welcome {
    margin: 0;
}

.main-name {
    margin: 0;
    font-size: 45px;
    color: #5988a0;
}

.function-names {
    display: flex;
    gap: 20px;
    list-style: none;
    font-size: 18px;
    padding-left: 0;
}

.function-names > li > a {
    text-decoration: none;
}

.function-names > li:before {
    content: "\2022";
    margin-right: 10px;
}

.short-description {
    font-size: 18px;
    line-height: 1.25;
}

.about-me-btn {
    display: inline-block;
    text-decoration: none;
    border-radius: 5px;
    padding: 15px;
    background-color: #5988a0;
}

.about-me-btn:hover {
    background-color: #325769;
}

.main-info-right {
    border-radius: 50%;
    border: 5px solid #696969;
    padding-bottom: 0px;
    height: 300px;
}

.profile-img {
    width: 300px;
    height: 265px;
}

.about-container {
    display: flex;
    align-items: center;
    padding: 0px 170px;
    justify-content: space-between;
    height: 512px;
    border-bottom: 1px solid gray;

    background: linear-gradient(0deg, rgba(112,113,124,1) 0%, rgba(33,33,38,1) 100%);
}

.about-image {
    height: 100%;
}

.about-image > img {
    height: 100%;
}

.about-me-section {
    width: 800px;
}

.about-me-section > h2 {
    color: #5988a0;
}

.about-me-section > article {
    line-height: 2;
}

.about-me-section > a {
    color: #5988a0;
    text-decoration: none;
}

.about-me-section > a:hover {
    color: #2a4857;
}

.experience-container {
    height: 100%;

    display: flex;
    justify-content: center;
    align-items: center;
    gap: 100px;
    padding: 30px 0;
    background: linear-gradient(0deg, rgba(33,33,38,1) 0%, rgba(112,113,124,1) 100%);
}

.experience-card {
    width: 300px;
    height: 400px;
    background-color: #5988a0;
    border-radius: 10px;
    padding: 15px;
}

.experience-card > h3 {
    font-size: 28px;
}

.experience-card > h4 {
    font-size: 20px;
}

.experience-card > p {
    line-height: 1.75;
}

.skills-section {
    display: flex;
    align-items: center;
    justify-content: center;
}

.skills-container {
    background-color: #5988a0;
    border-radius: 10px;
    width: 760px;

    display: flex;
    justify-content: center;
}

.skills-title {
    text-align: center;
}

.skills-icons {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: flex-start;
    padding: 0 50px;
    gap: 5px;
}